extends layout.pug

include mixins/publicacion.pug

block metadata
  title Inicio - Fotaza

block content
  .text-center.py-4.mb-4
    h1.fw-bold.display-6 📷 Bienvenido a Fotaza
    p.text-muted.lead Explorá fotografías compartidas por nuestra comunidad
    p.text-muted.lead Si queres ver Todas las publicaciones Registrate y empeza a Compartir!

  if publicaciones.length === 0
    .alert.alert-info.text-center No hay publicaciones públicas para mostrar todavía.
  else
    .row
      each pub in publicaciones
        +tarjetaPublicacion(pub)

  include mixins/modal.pug

  script.
    var publicaciones = !{JSON.stringify(publicaciones)};
    var usuarioId     = !{JSON.stringify(usuarioId)};
  script(src="/js/publicaciones.js")