doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet", href="/dist/css/bootstrap.min.css")
    block metadata
  body 
    nav
      ul 
        li 
          a(href='/') Home
        li
          a(href='/fotos') Fotulis
    main 
      block content
    script(src=" /dist/js/bootstrap.bundle.min.js")     