extends layout.pug

include mixins/publicacion.pug

block content
  h1.text-center.mb-4= titulo

  if publicaciones.length === 0
    .alert.alert-info.text-center No hay publicaciones para mostrar.
  else
    .row
      each pub in publicaciones
        +tarjetaPublicacion(pub)


  include mixins/modal.pug

  script.
    var publicaciones = !{JSON.stringify(publicaciones)};
    var usuarioId     = !{JSON.stringify(usuarioId)};
  script(src="/js/publicaciones.js")